<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.bankapplication.persistence.BranchRepository">
    <insert id="create" keyColumn="branch_id" keyProperty="branchID" useGeneratedKeys="true">
        INSERT INTO Branches(location_id)
        VALUES (#{branch.locationID})
    </insert>

    <sql id="branchSelect">
        SELECT
            branch_id,
            location_id,
        FROM Branches
    </sql>

    <select id="findById" resultMap="BranchResultMap">
        <include refid="branchSelect"/>
        WHERE branch_id = #{id}
    </select>

    <select id="findAll" resultMap="BranchResultMap">
        <include refid="branchSelect"/>
    </select>

    <update id="update">
        UPDATE Branches
            location_id = #{branch.locationID},
        WHERE branch_id = #{branch.branchID}
    </update>

    <delete id="deleteById">
        DELETE FROM Branches WHERE branch_id = #{id}
    </delete>

    <resultMap id="BranchResultMap" type="com.solvd.bankapplication.domain.Branch" autoMapping="false">
        <id column="branch_id" property="branchID"/>
        <result column="location_id" property="locationID"/>
    </resultMap>
</mapper>