<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.bankapplication.persistence.EmployeeLoginDetailRepository">
    <insert id="create" keyColumn="employee_id" keyProperty="employeeID" useGeneratedKeys="false">
        INSERT INTO Customers(employee_id, username, password)
        VALUES (#{employeeLoginDetail.employee_id}, #{employeeLoginDetail.username}, #{employeeLoginDetail.password});
    </insert>

    <sql id="employeeLoginDetailSelect">
        SELECT
            employee_id,
            username,
            password
        FROM EmployeeLoginDetails
    </sql>

    <select id="findById" resultMap="EmployeeLoginDetailResultMap">
        <include refid="employeeLoginDetailSelect"/>
        WHERE employee_id = #{id}
    </select>

    <select id="findAll" resultMap="EmployeeLoginDetailResultMap">
        <include refid="employeeLoginDetailSelect"/>
    </select>

    <update id="update">
        UPDATE EmployeeLoginDetails
            employee_id = #{employeeLoginDetail.employeeID},
            username = #{employeeLoginDetail.username},
            password = #{employeeLoginDetail.password}
        WHERE employee_id = #{employeeLoginDetail.employeeID}
    </update>

    <delete id="deleteById">
        DELETE FROM EmployeeLoginDetails WHERE employee_id = #{id}
    </delete>

    <resultMap id="EmployeeLoginDetailResultMap" type="com.solvd.bankapplication.domain.EmployeeLoginDetail" autoMapping="false">
        <id column="employee_id" property="employeeID"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>
</mapper>
