<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.bankapplication.persistence.AtmRepository">
    <insert id="create" keyColumn="atm_id" keyProperty="atmID" useGeneratedKeys="true">
        INSERT INTO Atms(location_id, cashAmount)
        VALUES (#{atm.locationID}, #{atm.cashAmount})
    </insert>

    <sql id="atmSelect">
        SELECT
            atm_id,
            location_id,
            cash_amount
        FROM Atms
    </sql>

    <select id="findById" resultMap="AtmResultMap">
        <include refid="atmSelect"/>
        WHERE account_id = #{id}
    </select>

    <select id="findAll" resultMap="AtmResultMap">
        <include refid="atmSelect"/>
    </select>

    <update id="update">
        UPDATE Atms
            location_id = #{atm.locationID},
            cash_amount = #{atm.cashAmount}
        WHERE atm_id = #{atm.atmID}
    </update>

    <delete id="deleteById">
        DELETE FROM Atms WHERE atm_id = #{id}
    </delete>

    <resultMap id="AtmResultMap" type="com.solvd.bankapplication.domain.Atm" autoMapping="false">
        <id column="atm_id" property="atmID"/>
        <result column="location_id" property="locationID"/>
        <result column="cash_amount" property="cashAmount"/>
    </resultMap>
</mapper>