<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.bankapplication.persistence.LocationRepository">
    <insert id="create" keyColumn="location_id" keyProperty="locationID" useGeneratedKeys="true">
        INSERT INTO Locations(street_address, city, country)
        VALUES (#{location.streetAddress}, #{location.city}, #{location.country})
    </insert>

    <sql id="locationSelect">
        SELECT
            location_id,
            street_address,
            city,
            country
        FROM Locations
    </sql>

    <select id="findById" resultMap="LocationResultMap">
        <include refid="locationSelect"/>
        WHERE location_id = #{id}
    </select>

    <select id="findAll" resultMap="LocationResultMap">
        <include refid="locationSelect"/>
    </select>

    <update id="update">
        UPDATE Locations
            street_address = #{location.streetAddress},
            city = #{location.city},
            country = #{location.country}
        WHERE location_id = #{location.locationID}
    </update>

    <delete id="deleteById">
        DELETE FROM Locations WHERE location_id = #{id}
    </delete>

    <resultMap id="LocationResultMap" type="com.solvd.bankapplication.domain.Location" autoMapping="false">
        <id column="location_id" property="locationID"/>
        <result column="street_address" property="streetAddress"/>
        <result column="city" property="city"/>
        <result column="country" property="country"/>
    </resultMap>
</mapper>
